html {
	background-color: #c5050c; /*UW Red*/
	font-family: "Verlag", "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow: hidden
}

#helpheader {
	margin: auto;
	text-align: center;
	padding: 3%;
    width: 70%;
    height: 30%;
    background-color: #282728; /*UW Grey*/
    color: #f9f9f9;
    vertical-align: center;
}

#help {
	margin: auto;
	text-align: left;
	padding: 3%;
    width: 70%;
    height: 30%;
    background-color: #dadfe1; /*UW Grey-Blue*/
    vertical-align: center;
}

.helptext {
    margin: auto;
    font-size: 1.1em;
    /*width: max-content;*/
    vertical-align: left;
}

#help a {
    color:  #c5050c; /*UW Red*/
    text-decoration: none;
    font-size: 1.5em;
}

#help a:hover {
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}