html {
	background-color: #c5050c; /*UW Red*/
	font-family: "Verlag", "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow: hidden
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.help {
    float: right;
}