html {
	background-color: #c5050c; /*UW Red*/
	font-family: "Verlag", "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow: hidden
}

#optionsheader {
	margin: auto;
	text-align: center;
	padding: 3%;
    width: 70%;
    height: 30%;
    background-color: #282728; /*UW Grey*/
    color: #f9f9f9;
    vertical-align: center;
}

#options {
	margin: auto;
	text-align: left;
	padding: 3%;
    width: 70%;
    height: 30%;
    background-color: #dadfe1; /*UW Grey-Blue*/
    vertical-align: center;
}

.optionstext {
    margin: auto;
    font-size: 1.2em;
    /*width: max-content;*/
    vertical-align: left;
}

.optionstext a {
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    display: inline;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 19px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #282728; /*UW Grey*/
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 1px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #c5050c; /*UW Red*/
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}