html {
	background-color: #c5050c; /*UW Red*/
	font-family: "Verlag", "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow: hidden
}

/*Scorebar*/
.fouls {
	display: inline-block;
}
.score {
	display: inline-block;
}
.clock {
	display: inline-block;
	vertical-align: center;
}
.clock h2 {
	vertical-align: center;
}
#clockminutes {
	font-size: 36px;
}
#clockseconds {
	font-size: 36px;
}
#clockseparator {
	font-size: 36px;
}
div.clock {
	margin: 0 auto;
	width: 300px;
	margin-left: 300px;
	margin-right: 300px;
	position: relative;
	text-align: center;
}
#scorebar {
	/*
	width: 100%;
    */
    width: auto;
	background-color: #282728; /*UW Grey*/
	color: #f9f9f9;
	padding-left: 20px;
	padding-right: 20px;
	/*padding-bottom: 40px;*/
	padding-top: 0px;
	height:13%;
	text-transform: uppercase;
}
#homescoreshowhide {
	color: red;
	text-decoration: underline;
}
#pshometeamname {
	color: red;
	text-decoration: underline;
}
#visitor {
	float: right;
	text-align: right;
	display: inline-block;
}
#home {
	float: left;
	display: inline-block;
}

#home .score {
	padding-left: 20px;
}
#visitor .score {
	padding-right: 20px;
}

/*Player Stats*/
#playerstats {
	width: 100%;
	height: 58%;
	background-color: #dadfe1;
}
#ps-home {
	display: inline-block;
	float: left;
}
#ps-visitor {
	display: inline-block;
	float: right;
}

/* Input Modal */
#inputmodal {
	width: 60%;
	height: 6.6%;
	vertical-align: center;
	margin: auto;
}

#userinput {
	height: 30px;
	width: 15%;
	margin-right: 15px;
	font-size: 20px;
	display: inline-block;
	cursor: auto;
}

#inputvalidator {
	margin: 5px;
	margin-left: 30px;
	margin-bottom: 10px;
	display: inline-block;
	color: white;
	font-size: 18px;
}

/* play by plays */
#playbyplaybox {
    width: 60%;
    height: 30%;
    background-color: #282728; /*UW Grey*/
    color: #f9f9f9;
    margin: auto;
    vertical-align: center;
}

#playbyplaybox h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#playbyplaybox table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

#playbyplaybox th {
    border-bottom: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    background-color: #282728; /*UW Grey*/
    color: #f9f9f9;
}

#playbyplaybox tr {
    border-bottom: 1px solid black;
    background-color: #dadfe1; /*uw-gray-blue*/
}

.playteam {
    text-transform: uppercase;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.help {
    float: right;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}