/*Scorebar*/
.fouls {
	display: inline-block;
}
.score {
	display: inline-block;
}
.clock {
	display: inline-block;
}
div.clock {
	margin: 0 auto;
	width: 300px;
	margin-left: 300px;
	margin-right: 300px
}
#scorebar {
	/*
	width: 100%;
	*/
	background-color: #b3b3b3;
	padding: 40px;
	height:10%;
}
#visitor {
	float: right;
	display: inline-block;
}
#home {
	float: left;
	display: inline-block;
}
/*Player Stats*/
#playerstats {
	width: 100%;
	height: 40%;
}
#ps-home {
	display: inline-block;
	float: left;
}
#ps-visitor {
	display: inline-block;
	float: right;
}
/* play by plays */
#playbyplaybox {
    width: 100%;
    height: 30%;
    background-color: #b3b3b3;
}

.playbyplayheader {
    text-align: center;
}

#home .score {
	padding-left: 20px;
}
#visitor .score {
	padding-right: 20px;
}

