.fouls {
	display: inline-block;
}
.score {
	display: inline-block;
}
.clock {
	display: inline-block;
}
div.clock {
	margin: 0 auto;
	width: 300px;
	margin-left: 300px;
	margin-right: 300px
}
#scorebar {
	/*
	width: 100%;
	*/
	background-color: #b3b3b3;
	padding: 40px;
}
#visitor {
	float: right;
	display: inline-block;
}
#home {
	float: left;
	display: inline-block;
}
#home .score {
	padding-left: 20px;
}
#visitor .score {
	padding-right: 20px;
}

/* play by plays */
#playbyplaybox {
    width: 60%;
    margin: auto;
    vertical-align: center;
    background-color: #b3b3b3;
}

#playbyplaybox h3 {
    text-align: center;
}

#playbyplaybox table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

#playbyplaybox th {
    border-bottom: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    background-color: #b3b3b3;
}

#playbyplaybox tr {
    border-bottom: 1px solid black;
    background-color: #e4e4e4;
}

.playteam {
    text-transform: uppercase;
}
