<!doctype html>
<html>
  <head>
    <title>Team Selection - NextGen</title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/team_page.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <!-- Menu Buttons -->
    <div id="menubuttons">
      <a href="./mainmenu.html">Back to the Main Menu</a>
      <a class="help" onclick="help()">Help</a>

      <!-- The Modal -->
      <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
              <span id="closeModal" class="close">&times;</span>
              <h3>HELP MENU: TEAM SELECTION</h3>
          </div>
      </div>
    </div>

    <h1 id="page_title">TEAM SELECTION</h1>
    <div id="team_app">
      <table id="static_top">
        <th id="table_head">{{message}}</th>
        <tr>
          <td id="team"><input type="text" v-on:click="deselect_team" id="searched" placeholder="Enter team name..."></td>
        </tr>
      </table>
      <table class="team_search">
        <tr v-for="team in teams">
          <td><button id="team_cell" v-on:click="select_team(team)"><h3>{{team.name}}</h3></button></td>
        </tr>
      <div>
        <table id="options">
          <th id="options_head">ROSTER OPTIONS</th>
          <tr v-for="option in roster_options">
            <td id="roster_option"><h3>{{option.name}}</h3></td>
          </tr>
        </table>
      </div>
      <dialog id="team_name_entry"><h3>ENTER NEW TEAM NAME</h3><input id="team_box" v-on:keyup.enter="set_team_name(document.getElementById("team_box").value)"placeholder="New team name..."></dialog>
    </div>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/teams.js"></script>
  </body>
</html>
