<!doctype html>
<html>
  <head>
    <title>Team Selection - NextGen</title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/team_page.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <!-- Menu Buttons -->
    <div id="menubuttons">
      <a href="./mainmenu.html">Back to the Main Menu</a>
      <a class="help" onclick="help()">Help</a>

      <!-- The Modal -->
      <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
              <span id="close_team_entry" class="close">&times;</span>
              <h3>HELP MENU: TEAM SELECTION</h3>
              <p>ENTER: Edit team</p>
              <p>N: Create new team</p>
              <p>F9: Delete team</p>
          </div>
      </div>
    </div>
    <h1 id="page_title">TEAM SELECTION</h1>
    <div id="team_app">
      <table id="static_top">
        <th id="table_head">{{message}}</th>
        <tr>
          <td id="team"><input type="text" v-on:click="deselect_team" id="searched" placeholder="Enter team name..."></td>
        </tr>
      </table>
      <table class="team_search">
        <tr v-for="team in teams">
          <td><button id="team_cell" v-on:click="select_team(team)"><h3>{{team[0].toUpperCase()}}</h3></button></td>
        </tr>
      <div>
        <table id="options">
          <th id="options_head">ROSTER OPTIONS</th>
          <tr v-for="option in roster_options">
            <td id="roster_option"><h3>{{option.name}}</h3></td>
          </tr>
        </table>
      </div>

      <!-- The Modal -->
      <div id='team_entry' class='modal'>
        <!-- Modal content -->
        <div id='team_content' class="modal-content">
          <span id="closeModal" class="close">&times;</span>
          <h1>TEAM DETAILS</h1>
          <h4>TEAM NAME:&emsp;
              <input id = "userinput" type = "text" name = "team_name">
          </h4>
          <h4>TEAM CODE:&emsp;
              <input id = "userinput" type = "text" name = "team_code">
          </h4>
          <h4>HEAD COACH:&emsp;
              <input id = "userinput" type = "text" name = "team_coach">
          </h4>
          <h4>ASSISTANT COACHES (Example: Coach One, Coach Two, Etc.):&emsp;
              <input id = "userinput" type = "text" name = "team_assistants">
          </h4>
          <h4>HOME STADIUM:&emsp;
              <input id = "userinput" type = "text" name = "team_stadium">
          </h4>
          <input class="submit_button" type="button" value="SUBMIT AND GO TO ROSTER ENTRY" onclick="app.submit_team_data()">
        </div>
    </div>
    <div id='team_roster_entry' class="modal">
      <div id='player_content' class="modal-content">
        <span id="closeModal" class="close">&times;</span>
        <div id='players'>
            <h2>Notes:</h2>
            <ul>
              <li><p>Enter player names as last name followed by a period and first name without a space.  Example: John Doe would be input as Doe.John</p></li>
              <li><p>Player names cannot include spaces, replace with an underscore.  Example: John Doe IV would be input as Doe_IV.John</p></li>
              <li><p>Player numbers must be exactly two digits.  Example: 04 and 15</p></li>
            </ul>
            <h3>PLAYER 1</h3>
            <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_1"></h4>
            <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_1"></h4>
            <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_1"></h4>
            <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_1"></h4>
            <h3>PLAYER 2</h3>
            <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_2"></h4>
            <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_2"></h4>
            <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_2"></h4>
            <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_2"></h4>
            <h3>PLAYER 3</h3>
            <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_3"></h4>
            <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_3"></h4>
            <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_3"></h4>
            <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_3"></h4>
            <h3>PLAYER 4</h3>
            <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_4"></h4>
            <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_4"></h4>
            <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_4"></h4>
            <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_4"></h4>
            <h3>PLAYER 5</h3>
            <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_5"></h4>
            <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_5"></h4>
            <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_5"></h4>
            <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_5"></h4>
            <h3>PLAYER 6</h3>
            <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_6"></h4>
            <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_6"></h4>
            <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_6"></h4>
            <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_6"></h4>
            <h3>PLAYER 7</h3>
            <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_7"></h4>
            <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_7"></h4>
            <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_7"></h4>
            <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_7"></h4>
            <h3>PLAYER 8</h3>
            <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_8"></h4>
            <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_8"></h4>
            <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_8"></h4>
            <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_8"></h4>
            <h3>PLAYER 9</h3>
            <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_9"></h4>
            <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_9"></h4>
            <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_9"></h4>
            <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_9"></h4>
            <h3>PLAYER 10</h3>
            <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_10"></h4>
            <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_10"></h4>
            <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_10"></h4>
            <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_10"></h4>
            <h3>PLAYER 11</h3>
            <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_11"></h4>
            <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_11"></h4>
            <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_11"></h4>
            <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_11"></h4>
            <h3>PLAYER 12</h3>
            <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_12"></h4>
            <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_12"></h4>
            <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_12"></h4>
            <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_12"></h4>
            <h3>PLAYER 13</h3>
            <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_13"></h4>
            <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_13"></h4>
            <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_13"></h4>
            <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_13"></h4>
            <h3>PLAYER 14</h3>
            <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_14"></h4>
            <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_14"></h4>
            <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_14"></h4>
            <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_14"></h4>
            <h3>PLAYER 15</h3>
            <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_15"></h4>
            <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_15"></h4>
            <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_15"></h4>
            <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_15"></h4>
        </div>
        <input class="submit_button" type="button" value="SUBMIT TEAM ROSTER" onclick="app.submit_roster()">
    </div>
  </div>
  <!-- The Modal -->
  <div id='team_edit' class='modal'>
    <!-- Modal content -->
    <div id='edit_team_content' class="modal-content">
      <span id="close_team_edit" class="close">&times;</span>
      <h1>TEAM DETAILS</h1>
      <h4>TEAM NAME:&emsp;
          <input id = "userinput" type = "text" name = "team_name">
      </h4>
      <h4>TEAM CODE:&emsp;
          <input id = "userinput" type = "text" name = "team_code">
      </h4>
      <h4>HEAD COACH:&emsp;
          <input id = "userinput" type = "text" name = "team_coach">
      </h4>
      <h4>ASSISTANT COACHES (Example: Coach One, Coach Two, Etc.):&emsp;
          <input id = "userinput" type = "text" name = "team_assistants">
      </h4>
      <h4>HOME STADIUM:&emsp;
          <input id = "userinput" type = "text" name = "team_stadium">
      </h4>
      <span><input class="submit_button" type="button" value="SUBMIT CHANGES" onclick="app.update_team_data()">   <input class="submit_button" type="button" value="EDIT ROSTER" onclick="app.go_to_edit_roster()"></span>
    </div>
  </div>

  <div id='update_roster_entry' class="modal">
    <div id='player_content' class="modal-content">
      <span id="close_roster" class="close">&times;</span>
      <div id='players'>
         <h2>Notes:</h2>
         <ul>
            <li><p>Enter player names as last name followed by a period and first name without a space.  Example: John Doe would be input as Doe.John</p></li>
            <li><p>Player names cannot include spaces, replace with an underscore.  Example: John Doe IV would be input as Doe_IV.John</p></li>
            <li><p>Player numbers must be exactly two digits.  Example: 04 and 15</p></li>
          </ul>
          <h3>PLAYER 1</h3>
          <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_1"></h4>
          <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_1"></h4>
          <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_1"></h4>
          <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_1"></h4>
          <h3>PLAYER 2</h3>
          <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_2"></h4>
          <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_2"></h4>
          <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_2"></h4>
          <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_2"></h4>
          <h3>PLAYER 3</h3>
          <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_3"></h4>
          <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_3"></h4>
          <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_3"></h4>
          <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_3"></h4>
          <h3>PLAYER 4</h3>
          <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_4"></h4>
          <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_4"></h4>
          <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_4"></h4>
          <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_4"></h4>
          <h3>PLAYER 5</h3>
          <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_5"></h4>
          <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_5"></h4>
          <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_5"></h4>
          <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_5"></h4>
          <h3>PLAYER 6</h3>
          <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_6"></h4>
          <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_6"></h4>
          <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_6"></h4>
          <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_6"></h4>
          <h3>PLAYER 7</h3>
          <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_7"></h4>
          <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_7"></h4>
          <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_7"></h4>
          <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_7"></h4>
          <h3>PLAYER 8</h3>
          <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_8"></h4>
          <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_8"></h4>
          <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_8"></h4>
          <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_8"></h4>
          <h3>PLAYER 9</h3>
          <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_9"></h4>
          <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_9"></h4>
          <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_9"></h4>
          <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_9"></h4>
          <h3>PLAYER 10</h3>
          <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_10"></h4>
          <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_10"></h4>
          <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_10"></h4>
          <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_10"></h4>
          <h3>PLAYER 11</h3>
          <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_11"></h4>
          <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_11"></h4>
          <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_11"></h4>
          <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_11"></h4>
          <h3>PLAYER 12</h3>
          <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_12"></h4>
          <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_12"></h4>
          <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_12"></h4>
          <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_12"></h4>
          <h3>PLAYER 13</h3>
          <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_13"></h4>
          <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_13"></h4>
          <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_13"></h4>
          <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_13"></h4>
          <h3>PLAYER 14</h3>
          <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_14"></h4>
          <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_14"></h4>
          <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_14"></h4>
          <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_14"></h4>
          <h3>PLAYER 15</h3>
          <h4>PLAYER NAME:&emsp;<input id = "userinput" type = "text" name = "player_name_15"></h4>
          <h4>PLAYER NUMBER:&emsp;<input id = "userinput" type = "text" name = "player_number_15"></h4>
          <h4>PLAYER POSITION:&emsp;<input id = "userinput" type = "text" name = "player_pos_15"></h4>
          <h4>PLAYER YEAR:&emsp;<input id = "userinput" type = "text" name = "player_year_15"></h4>
      </div>
      <input class="submit_button" type="button" value="SUBMIT ROSTER CHANGES" onclick="app.update_roster()">
  </div>
</div>

</div>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/teams.js"></script>
  </body>
</html>
